<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sticket.app.sticket">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.sign.SignupActivity" />
        <activity android:name=".activities.sign.SigninActivity" />
        <activity android:name=".activities.setting.AccountActivity" />
        <activity android:name=".activities.gallery.SelectedPictureActivity" />
        <activity android:name=".activities.setting.SettingActivity" />
        <activity android:name=".activities.sticker.sticon_editor.SticonEditorActivity" />
        <activity android:name=".activities.sticker.asset_importer.AssetImporter" />
        <activity android:name=".activities.camera.LivePreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.store.StoreActivity" />
        <activity android:name=".activities.store.store_register.StoreRegisterAssetActivity" />

    </application>

</manifest>